/* Reset generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: serif;
  padding: 40px;
}

/* Menu verticale */
.menu {
  display: flex;
  flex-direction: column; /* forza i link in colonna */
  gap: 20px;             /* spazio tra le voci */
  margin-top: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-style: normal; /* menu normale */
  font-size: 1.1em;
}

.menu a:hover {
  opacity: 0.6;
}

/* Titolo principale */
h1 {
  margin-bottom: 20px;
  font-weight: normal;
}
