* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: serif;
}

main {
  padding: 60px;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 40px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-style: normal; /* menu normale */
  display: block;       /* forza ogni link a capo */
}

.menu a:hover {
  opacity: 0.6;
}
