/* Reset generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: serif;
  padding: 40px;
}

/* Menu verticale */
.menu {
  display: flex;
  flex-direction: column; /* forza i link in colonna */
  margin-top: 20px;
  gap: 10px; /* spazio tra le voci */
}

/* Forza ogni link a essere blocco */
.menu a {
  display: block; /* ESSENZIALE per andare a capo */
  color: #fff;
  text-decoration: none;
  font-style: normal; /* menu normale */
  font-size: 1.1em;
}

.menu a:hover {
  opacity: 0.6;
}

/* Titolo principale */
h1 {
  margin-bottom: 20px;
  font-weight: normal;
}

/* Progetti in corsivo */
.project-list p {
  font-style: italic;
  margin-bottom: 10px;
  line-height: 1.6;
}

